<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
            {% if page.title == "Home" %}
                {{ site.title }} &#8211; {{ site.tagline }}
            {% else %}
                {{ page.title }} &#8211; {{ site.title }}
            {% endif %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
        <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
    </head>
    <body>
        
        {% include header.html %} 
        
        <main>
            {{ content }}
        </main>
        
        <footer class="footer">
            <div class="container">
                <small>
                    &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
                </small>
            </div>  
        </footer>
        
    </body>
</html>
