---
layout: default
---

<article class="post">
    <div class="container">
        <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | timeago }}</time>    
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-content">{{ page.content }}</div>
    </div>        
</article>


{% if site.related_posts != empty %}
<aside class="related">
    <div class="container">
        <h3>Related</h3>
        {% for post in site.related_posts limit:1 %}
            <h4>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h4>
            <div class="post-excerpt">{{ post.excerpt | truncatewords:42 }}</div>
        {% endfor %}    
    </div>    
</aside>
{% endif %}
